@font-face {
       font-family: HeaderFont;
       src: url(./fonts/HammersmithOne-Regular.ttf);
}
*{
       margin: 0;
       padding: 0;
       scroll-behavior: smooth;
       box-sizing: border-box;
       font-family: HeaderFont ;
}
